@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: rgb(47, 128, 237);
$secondary: rgb(178, 255, 218);
$light: rgb(237, 249, 253);
$warning: #ecb40b;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 769px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);


$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;

$navbar-light-toggler-border-color: rgba($primary, 0);

$btn-focus-width: 0;
$btn-focus-box-shadow: none;

$progress-bg: $gray-400;
$progress-border-radius: 20px;
$progress-bar-color: $white;
$progress-bar-bg: aqua;

$card-border-width: 0;

$input-focus-border-color: transparent;
$input-focus-color: black;
$input-focus-width: 0;
$input-focus-box-shadow: none;

$carousel-control-color: $primary;
$carousel-control-width: 15%;
$carousel-control-opacity: 1;
$carousel-control-hover-opacity: .5;

$carousel-indicator-width: 12px;
$carousel-indicator-height: 12px;
$carousel-indicator-hit-area-height: 10px;
$carousel-indicator-spacer: 3px;
$carousel-indicator-opacity: .5;
$carousel-indicator-active-bg: $primary;
$carousel-indicator-active-opacity: 1;

$input-bg: black;
$input-plaintext-color: black;




body {
    width: 100%;
    background-color: $light;
    overflow-x: hidden;
}

button.navbar-toggler:focus,
button.navbar-toggler:active,
button.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none;
}

.navbar-brand h1 {
    font-family: 'Neonderthaw', cursive;
}

//animated name
.animate-character {
    background-image: linear-gradient(-225deg,
            #9C00F4 0%,
            #ff00ff 29%,
            #b2ffda 67%,
            #2f80ed 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.navbar-light .navbar-nav .nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(rgb(47, 128, 237), rgb(178, 255, 218));
    transition: width .3s;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-light .navbar-nav .nav-link.active::after {
    width: 100% !important;
}

.newNavLink:active,
.newNavLink:focus,
.newNavLink:hover {
    color: rgb(177, 21, 208) !important;
}

.first-card {
    background-color: $gray-200  !important;
    border-radius: 10px !important;
}

.modeFirstCard {
    background-color: rgb(95, 94, 94) !important;
}

//scroll for chrome, edge and safari
.scroll::-webkit-scrollbar {
    display: none;
}

//scroll for firefox hidden
.scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.heading-line::before {
    content: "";
    width: 6rem;
    height: 0.1rem;
    margin: 0 auto;
    display: block;
    background-color: rgba(3, 45, 112, 0.304);
}

.heading-line::after {
    content: "";
    width: 0.1rem;
    height: 0.1rem;
    padding: 0.15rem;
    border-radius: 50%;
    margin: -0.22rem auto 3rem auto;
    display: block;
    background-color: $primary;
}

@import "../node_modules/bootstrap/scss/bootstrap";