.modeBody {
    color: white;
}

.header-img {
    background-image: url('./images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
}

section {
    height: 100%;
    color: black;
    background-color: rgb(250, 252, 254);
    overflow-x: hidden;
    width: 100%;
}

.modeSection {
    background-color: rgb(27, 64, 66);
    color: white;
}

.long-section {
    height: auto;
    overflow-x: hidden;
}

.header-div {
    background-color: rgba(237, 249, 253, 0.7);
    height: 100%;
    color: black;
}

.modeHeader-div {
    background-color: rgba(131, 133, 133, 0.7);
    height: 100%;
    color: white;
}

.h6-nav {
    font-size: 1rem;
}

.bi-moon,
.bi-brightness-low {
    cursor: pointer;
}

.intro i {
    background: -webkit-linear-gradient(45deg, rgb(0, 191, 255), rgb(177, 21, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text {
    width: 75%;
}

.text-contact {
    font-family: 'Courgette', cursive;
}

.auto-typed-text {
    background: -webkit-linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237), rgb(177, 21, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mybtn {
    background: linear-gradient(45deg, rgb(47, 128, 237), rgb(71, 216, 245));
}

.mybtn:hover {
    background: linear-gradient(45deg, rgb(13, 114, 247), rgb(15, 205, 243));
}

.chevron-container {
    position: absolute;
    bottom: 3rem;
}

.chevron-container i {
    position: absolute;
    animation-name: downBtn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes downBtn {
    from {
        bottom: -1rem;
    }

    to {
        bottom: -2rem;
    }
}

.about-me-img {
    width: 80%;
    height: 70%;
    position: static;
    background: linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237), rgb(177, 21, 208));
}

.about-me-img-first {
    background-color: rgb(250, 252, 254);
}

.text {
    font-size: 1.3rem;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-weight: 500;
}

.skills {
    background-color: rgba(47, 128, 237, 0.04);
    overflow-x: hidden;
}

.modeSkills {
    background-color: rgba(22, 53, 94, 0.8);
}

.about-me-img img {
    width: 100%;
    height: 100%;
}

.modeAbout {
    background-color: rgb(27, 64, 66);
}

.fs-sm-5 {
    font-size: 20px;
}

.progress-bar {
    background: linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237), rgb(177, 21, 208));
}

.mode-progress-bar {
    background: linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237), rgb(177, 21, 208));   
}

.first-card {
    height: 262px;
}

h2 {
    font-family: cursive;
}

.new-card {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.project-box {
    height: 25rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0.125rem 0.9rem rgb(0, 0, 0, 0.075);
    transition: box-shadow 0.3s linear;
}

.project-box:hover {
    box-shadow: 0 0.5rem 3rem rgb(0, 0, 0, 0.15)
}

.modeProjectBox {
    height: 25rem;
    border-radius: 20px;
    background-color: rgb(27, 64, 66);
}

.project-box p {
    font-size: 17px;
}

.project-box img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.bi-quote {
    position: absolute;
    left: 0;
    bottom: 3rem;
    color: rgba(0, 0, 0, 0.2);
    font-size: 7rem;
}

.mode-bi-quote {
    color: rgba(255, 255, 255, 0.604);
}

textarea {
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 40px black inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
}

.side-nav-menu {
    position: fixed;
    bottom: 2rem;
    right: 0;
    cursor: pointer;
    display: none;
    background: linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237));
}

.h6-sidenav {
    font-size: 0.8rem;
}

.side-nav-div-animateIn {
    animation-name: slideInNav;
    animation-duration: 1s;
}

@keyframes slideInNav {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}




@media (max-width: 1244px) {
    .chevron-container {
        position: absolute;
        bottom: 0;
    }

    .bi-quote {
        position: absolute;
        left: 0;
        bottom: 4rem;
        font-size: 7rem;
    }
}


@media (max-width: 1200px) {
    #services {
        height: auto;
    }

    #portfolio {
        height: auto;
    }

    .project-box {
        height: 40rem;
        width: 60%;
    }

    .project-box p {
        font-size: 17px;
    }

    .project-box-first-div {
        height: 60%;
    }

    .project-box img {
        width: 100%;
        height: 100%;
    }

    .chevron-container {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width:1024px) {
    .about-me-img {
        width: 100%;
        height: 60%;
    }

    .project-box {
        width: 70%;
    }

    .project-box p {
        font-size: 17px;
    }

    .project-box-first-div {
        height: 60%;
    }

    .project-box img {
        width: 100%;
        height: 100%;
    }

    .text {
        font-size: 1.2rem;
    }
}

@media (max-width: 890px) {
    .fs-sm-5 {
        font-size: 17px;
    }

    .text {
        font-size: 1.1rem;
    }

    .project-box {
      
        width: 80%;
    }
}

@media (max-width: 844px) {
    .h6-nav {
        font-size: 0.8rem;
    }
}

@media (max-width: 773px) {
    .h6-nav {
        font-size: 0.7rem;
    }

    .bi-quote {
        left: 0;
        bottom: 6rem;
        font-size: 6rem;
    }
}

@media (max-width: 768px) {
    .about-me-img {
        width: 100%;
        margin: 3rem auto;
        height: 60%;
    }

    .about-me-img img {
        width: 100%;
        height: 100%;
    }

    .long-section {
        height: auto;
    }

    .project-box {
        
        width: 85%;
    }

    .project-box p {
        font-size: 17px;
    }

    .project-box-first-div {
        height: 60%;
    }

    .project-box img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 743px) {
    .intro-text {
        width: 100%;
    }
}

@media (max-width: 638px) {
    .h6-nav {
        font-size: 0.6rem;
    }

    .bi-quote {
        left: 0;
        bottom: 5rem;
        font-size: 6rem;
    }
}

@media (max-width: 576px) {
    .about-me-img {
        width: 100%;
        margin: auto;
        height: 100%;
    }

    .about-me-container{
        height: 560px;
    }

    .about-me-img img {
        width: 100%;
        height: 100%;
    }

    .project-box {
        
        width: 90%;
    }

    .bi-quote {
        left: 0;
        bottom: 5rem;
        font-size: 6rem;
    }

    .h6-sidenav {
        font-size: 0.6rem;
    }
}

@media (max-width: 440px) {
    .bi-quote {
        bottom: 5.5rem;
        font-size: 3rem;
    }

    .project-box {
        
        width: 95%;
    }
}

@media (max-width: 400px) {
    .about-me-img {
        width: 100%;
        margin: auto;
        height: 80%;
    }
}

@media (max-width: 406px) {
    .bi-quote {
        bottom: 8rem;
        font-size: 3rem;
    }
}

@media (max-width: 391px) {
    .bi-quote {
        bottom: 8rem;
        font-size: 2rem;
    }
}

@media (max-width: 363px) {
    .bi-quote {
        bottom: 8rem;
        font-size: 2rem;
    }

    .project-box {
        
        width: 100%;
    }
}

@media (max-width: 340px) {
    .bi-quote {
        font-size: 2rem;
        bottom: 8rem;
    }
}

@media (max-width: 317px) {
    .bi-quote {
        bottom: 9.2rem;
    }
}

@media (max-width: 297px) {
    .bi-quote {
        bottom: 9.5rem;
    }
}

@media (max-width: 282px) {
    .bi-quote {
        bottom: 11rem;
    }
}

@media (max-width: 249px) {
    .bi-quote {
        display: none;
    }
}
