.header-img {
    background-image: url('./images/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    height: 100vh;
}

.long-section {
    height: 100vh;
}

.header-div {
    background-color: rgba(237, 249, 253, 0.7);
    height: 100%;
}

.intro i {
    background: -webkit-linear-gradient(45deg, rgb(0, 191, 255), rgb(177, 21, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text {
    width: 75%;
}

.auto-typed-text {
    background: -webkit-linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237), rgb(177, 21, 208));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mybtn {
    background: linear-gradient(45deg, rgb(47, 128, 237), rgb(71, 216, 245));
}

.chevron-container {
    position: absolute;
    bottom: 5rem;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 2px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: black;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.about-me-img {
    width: 80%;
    height: 90vh;
    position: static;
    background: linear-gradient(45deg, rgb(71, 216, 245), rgb(47, 128, 237), rgb(177, 21, 208));
}

.about-me-img-first {
    background-color: rgb(250, 252, 254);
}

.about-me-img img {
    width: 100%;
    height: 100%;
}

.fs-sm-5 {
    font-size: 20px;
}

.first-card {
    height: 262px;
}

.new-card {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.project-box {
    height: 25rem;
    border-radius: 20px;
}

.project-box p {
    font-size: 17px;
}

.project-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bi-quote {
    position: absolute;
    left: 0;
    bottom: 3rem;
    color: rgba(0, 0, 0, 0.2);
    font-size: 7rem;
}

textarea {
    resize: none;
}

.side-nav-div-animateIn {
    animation-name: slideInNav;
    animation-duration: 1s;
}

@keyframes slideInNav {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}





@media (max-width: 1200px) {
    #services {
        height: auto;
    }
}

@media (max-width:1024px) {
    .about-me-img {
        width: 100%;
        height: 80vh;
    }
}

@media (max-width: 768px) {
    .long-section {
        height: auto;
    }

    .project-box {
        height: 80vh;
        width: 80%;
    }

    .project-box p {
        font-size: 17px;
    }

    .project-box-first-div {
        height: 60%;
    }

    .project-box img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 743px) {
    .intro-text {
        width: 100%;
    }

    .fs-sm-5 {
        font-size: 17px;
    }
}

@media (max-width: 576px) {
    .about-me-img {
        width: 60%;
        margin: auto;
        height: 50vh;
    }

    .about-me-img img {
        width: 100%;
        height: 100%;
    }

    .bi-quote {
        left: -4rem;
        bottom: 5rem;
        color: rgba(0, 0, 0, 0.2);
        font-size: 6rem;
    }
}

@media (max-width: 400px) {
    .about-me-img {
        width: 100%;
        margin: auto;
        height: 60vh;
    }

    .about-me-img-first {
        background-color: rgb(250, 252, 254);
    }
}